<div class="col-xs-offset-6"><h1>Hello {{user.name}}</h1></div>

<!-- 
<div class="container projectList" ng-repeat="project in controller.projects">
    <div class="col-xs-6 col-sm-offset-3">
        <div class="row">
            <div class="row-fluid">
                <div class="col-xs-1 play-button"><span class="glyphicons glyphicons-play"></span></div>
                <div class="col-xs-11">
                    <div class="row">STMPD RECORDS BABY</div>
                    <div class="row">1.5k</div>
                </div>
            </div>
            <div class="row">
                lines of music
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                Image
            </div>
            <div class="col-xs-9">
                <div class="row-fluid title">{{project.name}}</div>
                <div class="row-fluid description">Description of song</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 daw">Daw</div>
            <div class="col-xs-6 tags">Tags</div>
            <div class="col-xs-3 shares">Shares</div>
        </div>
        <div class="row">
            <span><a ui-sref="edit({id: project.id})">edit</a></span>
            <span><a ui-sref="delete({id: project.id})">delete</a></span>
            <span><a ui-sref="project({id: project.id})">View Project</a></span>
        </div>
    </div>
    </div> -->