html, body{
    height: 100%;
    background-color: #21222f;
}

/* #home-greeting {
    background-image: -moz-linear-gradient(ngApp\css\img\studio.jpg);
} */
.silver-text {
    color: silver;
    font-family: 'Raleway', sans-serif;
    font-size: 25px
} 
.balck-text {
    color: black;
     
}
#brand{
    color: darkorange;
}
.dark-orange-text{
    color: darkorange;
    font-family:'Raleway', sans-serif;
}
.projectItem {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.projectList {
   padding-top: 10px;
   padding-bottom: 10px;
}
.card-text{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}
.card {
    margin-bottom: 15px;

}
.container {
    height: 87%;
    overflow-y: auto;
}